.item-md{
padding-left: 0px;
background: rgba(0, 0, 0, 0.0);
color:white;
font-weight: bold;
}

.item-input .label-md, .item-select .label-md, .item-datetime .label-md{
    color:white;
    font-weight: bold;
}